{% extends "layout.html" %}

{% block centermain %}
<h4>Change Password</h4>
<hr/>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-info">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

<form action="/change_password" method="POST" class="m-5">
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
        <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">New Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="user_password">
            <!--should it be name='user_passowrd' or name ='new_userpassword'?-->
    </div>
    <button type="submit" class="btn btn-outline-success">Submit</button>
</form>
{% endblock centermain %}



