{% macro display_links(user) %}

<!-- debugged " -->

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
    </li>

    {% if not user %}

    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{ url_for('login') }}">Log in</a>
    </li>

    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{ url_for('signup') }}">Sign up</a>
    </li>

    {% endif %}

    {% if user and user['admin'] == 1 %}

    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{ url_for('promote') }}">Promote</a>
    </li>

    {% endif %}

    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{ url_for('logout') }}">Log out</a>
    </li>

</ul>

{% end macro %}