<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Title & Style -->
    <title>FriendZone</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='hannah.css') }}">

    <!--     Bootstrap values, not used in my css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
</head>

<body>

{% from "display_links.html" import display_links %}
<div class="container-fluid">


    <div class="parent">
        <div class="child child1">

            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container">
                    <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        {{ display_links(user_details) }}

                    </div>
                </div>
            </nav>

            <!-- I swapped out these two divs to align with the fluid container type instead
                <div class="parent">
                    <div class="child child1">
                    -->
            <!--    <div class="container-fluid">-->

            <!--        &lt;!&ndash; Logo in the top-left corner &ndash;&gt;-->
                    <div class="logo-container">
                        <img src="{{ url_for('static', filename='friendzone_square.jpg') }}" alt="Logo" class="logo">
                    </div>

            <!--        &lt;!&ndash; Navbar &ndash;&gt;-->
            <!--        <nav class="navbar navbar-expand-lg bg-body-tertiary">-->
            <!--            <div class="container">-->
            <!--                <a class="navbar-brand" href="#"></a>-->

            <!--                &lt;!&ndash; Took out this button & collapsable option&ndash;&gt;-->
            <!--                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"-->
            <!--                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"-->
            <!--                        aria-expanded="false" aria-label="Toggle navigation">-->
            <!--                    <span class="navbar-toggler-icon"></span>-->
            <!--                </button>-->
            <!--                <div class="collapse navbar-collapse" id="navbarSupportedContent">-->


            <!--                &lt;!&ndash; Took out this search option-->
            <!--                <form class="d-flex" role="search">-->
            <!--                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
            <!--                        <button class="btn btn-outline-success" type="submit">Search</button>-->
            <!--                    </form>-->
            <!--                </div>-->
            <!--                &ndash;&gt;-->

            <!--                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
            <!--                        <li class="nav-item">-->
            <!--                            <a class="nav-link active" aria-current="page" href=/>Home</a>-->
            <!--                        </li>-->

            <!--                        <li class="nav-item">-->
            <!--                            <a class="nav-link active" aria-current="page" href=/login>Log in</a>-->
            <!--                        </li>-->

            <!--                        <li class="nav-item">-->
            <!--                            <a class="nav-link active" aria-current="page" href=/signup>Sign up</a>-->
            <!--                        </li>-->

            <!--                        <li class="nav-item">-->
            <!--                            <a class="nav-link active" aria-current="page" href=/logout>Log out</a>-->
            <!--                        </li>-->
            <!--                    </ul>-->
            <!--            </div>-->
            <!--        </nav>-->

            <!-- Main Content Block -->



            <div class="main-content">
                <div class="container">

                    <!-- Display user_name -->
                    <div class="child child2 d-flex justify-content-between m-3">
                        <h1> </h1>
                        {% if not session%}
                        <h3>
                            <a class="nav-link active" aria-current="page" href="{{ url_for('login') }}"> User name: Please log in</a>

                        </h3>
                        {% endif%}

                        {% if session%}
                        <h3> User name: {{ session['user'] }}</h3>
                        {% endif %}
                    </div>

                    <div class="child child3 m-3">
                    </div>

                    <!-- Error Messages -->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    <ul class="flash-messages">
                        {% for category, message in messages %}
                        <li class="flash-message {{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}

                    <!-- Area that other html pages will display -->
                    {% block centermain %}
                    {% endblock centermain %}
                </div>
            </div>

        </div>

        <!-- Footer -->
        <footer class="footer">
            <p class="text-center">copyright &copy; belongs to the best girlies from CFG Degree Autumn 24</p>
        </footer>


        <!--         Bootstrap JS (optional) -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous">
        </script>

    </div>
</div>
</body>
</html>