{% extends "layout.html" %}

{% block centermain %}
<h4>Change Password</h4>
<hr/>



<div class="action-row">
<form action="/change_password" method="POST" class="m-5">
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">New Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="user_password">
    </div>
    <button type="submit" class="btn btn-outline-light text-dark">Change Password</button>
</form>
<div class="action-container-password">
    <h4>Passwords must be:</h4>
    <ul>
        <li class="{{ 'valid' if session.get('length_valid') else 'invalid' }}">At least 9 letters long</li>
        <li class="{{ 'valid' if session.get('upper_valid') else 'invalid' }}">At least 1 uppercase character</li>
        <li class="{{ 'valid' if session.get('lower_valid') else 'invalid' }}">At least 1 lowercase letter</li>
        <li class="{{ 'valid' if session.get('nums_valid') else 'invalid' }}"> At least 1 number</li>
    </ul>
</div>

    </div>
{% endblock centermain %}

