
{% extends "layout.html" %}

{% block centermain %}
<h1>FriendZone</h1>
<br>

<h2>FriendZone is a labour of love by a group of extremely awesome coders.</h2>
<br>

<h4>Our hope is to banish loneliness in this busy world by making it easy to make new friends - we know it's hard as a grown up!</h4>
<br>
<br>
<p>FriendZone facilitates meetups for users in London, based on shared interests, location and availability. It bridges the online interactions we as a society have nurtured over the years by taking it offline to cherish the relationships we can build and enjoy in this beautiful city.
</p>
<br>
<p>As a potential solution to address the loneliness epidemic by encouraging high-quality social connections through entertaining activities, FriendZone aims to foster social interactions, a sense of belonging, and the growth of a community. The capital is known for its multicultural diversity among citizens and businesses, which we must emphasise and celebrate in our app. We wish to help others find their place in the largest city in Western Europe with the right company.
</p>
<br>
<p>We hope to expand to other cities after our pilot!</p>

{% endblock centermain %}